/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
  }
  
  form {
    width: 90%;
    margin: 0 auto;
  }
  
  fieldset {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  legend {
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"] {
    display: block;
    height: 50px;
    width: 100%;
    max-width: 70px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-radius: 0.9rem;
    border: 3px solid #000000;
    transition: border-color 0.25s ease-in-out;
    color: black;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #008cff;
    color: black;
  }
  
  button[type="button"] {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="button"]:hover {
    background-color: #0c7cd5;
  }
  
  /* Custom styles for the GPA Calculator */
  form {
    background-color: #363636;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"] {
    font-size: 3.2rem;
    margin: auto;
    padding: 2.5rem;
    background-color: rgb(206, 206, 206);
    color: black;
  }
  
  label {
    font-weight: bold;
  }
  
  legend {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
  }
  
  button[type="button"] {
    font-size: 1.1rem;
    margin-top: 1rem;
    background-color: #1e88e5;
  }
  
  button[type="button"]:hover {
    background-color: #040358;
  }
  

  .element {
        max-width: 300px;
        height: 100px;
        display: inline-block;
        background-color: transparent;
        margin-right: 30px;
        margin-bottom: 20px;
        padding-bottom: 0.5rem;
        text-align: center;
        align-items: center;
        font-size: 2.250rem;
  }

  .elements{
    text-align: center;
    margin-bottom: 3rem;
  }

  body {
  background-color: #292929;
  color: #f1f1f1;
}

a {
  color: #ccc;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #f8f8f8;
  }

  a {
    color: #eee;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.showdata {
  color: black;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
#form-group {
  padding: 20px;
}


.result{
  margin-left: 15px;
}

.result h1{
  font-size: 250%;
  margin-bottom: 5px;
}

a{
  color: rgb(200, 147, 0);
}


 

hr{
  margin-bottom: 25px;
  margin-top: 25px;
}
















/* footer section start */


body{
  background: #000000;
    max-width:1920px;
    margin:0 auto;
  overflow-x:hidden;
  

}
#footer{
  background: #f7f7f7;
    padding: 3rem;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
}
#footer2{
  background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
}
.logo-footer{
  /* max-width: 300px; */
}
.social-links{
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.social-links h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.social-links img{
  padding-bottom: 25px;
}
.social-icons{
  /* display: flex;
    gap: 3rem; */
  display: flex;
    flex-direction: column;
    gap: 1rem;
  color: #f8b739;
}
.social-icons a{
  /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a; */
  /* margin-right: 18px; */
  color: #f8b739;
}
.social-icons a:hover{
  color: #000;
}
.social-icons a i{
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}
li{
  list-style: none;
}
.useful-link h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.useful-link img{
  padding-bottom: 15px;
}
.use-links{
  line-height: 32px;
}
.use-links li i{
  font-size: 14px;
    padding-right: 8px;
    color: #878787;
}
.use-links li a{
  color: #e20202;
    font-size: 15px;
    font-weight: 500;
    color: #878787;
  transition: 0.3s;
}
.use-links li a:hover{
  color: #f8b739;
  transition: 0.3s;
}
.address h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.address img{
  padding-bottom: 15px;
}
.address-links li a{
  color: #f8b739;
    font-size: 15px;
    font-weight: 500;
  color: #f8b739;

}
.address-links li i{
  font-size: 16px;
    padding-right: 8px;
    color: #f8b739;

}
.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
    font-size: 15px;
  display: flex;
}
.address-links{
      line-height: 32px;
      color: #878787;
    }
.copy-right-sec{
  padding: 1.8rem;
    background: #282828;
    color: #878787;
    text-align: center;
}
.copy-right-sec a{
  color: #f8b739;
    font-weight: 500;
}
a{
  text-decoration:none;
}


.footer-social-icon a {
  color: #fff;
  font-size: 40px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 109px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}

.instagram-bg{
  background: red;
}
.linkedin-bg{
  background:rgb(0,119,181);
}


/* footer section end */

































/*
footer{width: 90%;}
.footer-section ul {
  margin:   50px;
  padding: 0px;
}
.container {
  margin: 50px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: rgb(248,183,57);
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
  color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
margin-bottom: 20px;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}

.instagram-bg{
background: red;
}
.linkedin-bg{
background:rgb(0,119,181);
}

.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: rgb(248,183,57);
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: rgb(248,183,57);
cursor: pointer;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form .buttonmail {
  position: absolute;
  right: 0;
  background: rgb(248,183,57);
  padding: 13px 20px;
  border: 1px solid rgb(248,183,57);
  top: 0;
}
.subscribe-form .buttonmail i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: rgb(248,183,57);
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: rgb(248,183,57);
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
.footer-menu li:hover a{
  color: rgb(248,183,57);
}












