@media (max-width: 799.99px){
    .klaff{
        font-size: 1.4rem;
        margin-top: 0.5rem;
        color: rgb(255, 163, 163);
        text-align: center;
    }
}





@media (min-width: 800px){
    .klaff{
        font-size: 1.4rem;
        margin-left: 0.4rem;
        margin-top: 0.5rem;
        color: rgb(255, 163, 163);
    }
}

.kuanci{
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    padding-top: 2px;
    max-width: 5rem;
}






/*  TABLE OF VISUAL */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


.subse965 h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}






/* Style for the navigation */
.berkgedenoglan {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Style for the heading */
.berkgedenoglan h2 {
    color: #ecf0f1;
    margin-bottom: 15px;
    font-size: 1.5em;
}

/* Style for the list items */
.berkgedenoglan ul {
    list-style-type: none;
    padding: 0;
}

.berkgedenoglan li {
    margin-bottom: 10px;
    position: relative;
}

/* Style for the links */
.berkgedenoglan a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.4s ease;
    display: flex;
    align-items: center;
}

.berkgedenoglan a:before {
    content: '\25B8'; /* Unicode for a larger right-pointing triangle */
    color: #2980b9;
    font-size: 1.2em; /* increased size of the triangle */
    margin-right: 10px; /* increased space between triangle and link text */
}

.berkgedenoglan a:hover {
    color: #2980b9;
}

/* Responsive media query */
@media screen and (max-width: 768px) {
    .berkgedenoglan {
        padding: 15px;
    }

    .berkgedenoglan h2 {
        font-size: 1.2em;
    }

    .berkgedenoglan a {
        font-size: 1em;
    }

    .berkgedenoglan a:before {
        margin-right: 6px;
    }
}
